
/* Ensembles */
#eyes {
    opacity: 1;
    animation: closeeyes 4s ease infinite;
}
#moutha {
    opacity: 0;
    animation: mouthaa 1s ease ;
}
#mouthi {
    opacity: 0;
}
#mouthm {
    opacity: 1;
}
#jaw {
    animation: jaw 0.5s 1s ease;
}
#brows {
    animation: brows 1s 1s ease ;
}

/* Animation elements */
@keyframes jaw {
  from {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(3px);
  }
  to {
      transform: translateY(0px);
  }
}
@keyframes mouthaa{
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}