
/* Ensembles */
.eyes {
    opacity: 0;    
}
.eyessemiclosed {
    opacity: 1;
}
.moutha {
    opacity: 0;
}
.mouthi {
    opacity: 0;
}
.mouthm {
    opacity: 0;
    animation: mouthmm 4s ease;
}
.moutho {
  opacity: 1;
  animation: moutho 2s ease;
}
.brows {
    animation: brows 1s 1s ease ;
}

/* Animation elements */
@keyframes moutho {
    from {
        transform: translate(0px,0px);
    }
    33% {
        transform: translate(10px,-10px);
    }
    66% {
        transform: translate(12px,-5px);
    }
    to {
        transform: translate(0px,0px);
    }
}
@keyframes mouthmm {
    from {
        opacity: 0;
    }
    50% {
        opacity:0
    }
    51% {
        opacity:1;
    }
    to {
        opacity:1;
    }
}